@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 350px;
  padding: 30px;
}

.login {
  width: 300px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 35px;
  box-shadow: 15px 15px 30px #b7beca;
  border: 1px solid #e7e6f0;
}

.login__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 18px;
}

.login .login__email,
.login .login__password {
  all: unset;
  width: 240px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #e7e6f0;
  padding-left: 10px;
  font-size: 14px;
}

.login .login__forget {
  align-self: flex-end;
  margin-bottom: 20px;
  color: #e2283e;
  font-size: 12px;
  opacity: 0.6;
}

.login .login__checkbox {
  align-self: flex-start;
  margin-bottom: 50px;
  opacity: 0.6;
  font-size: 14px;
}

.login .login__button {
  all: unset;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  font-size: 12px;
}

.login .signin {
  width: 240px;
  background-color: #e2283e;
  margin-bottom: 30px;
}

.login__button-group .facebook,
.login__button-group .twitter {
  width: 120px;
}

.login__button-group .facebook {
  background-color: #475a95;
}

.login__button-group .twitter {
  background-color: #5da1f2;
}

.login .login__or {
  align-self: flex-start;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 700;
}

.login .login__button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.login .login__more {
  align-self: flex-start;
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.login .login__answer {
  color: #e2283e;
  margin-left: 5px;
}

/* --------------------------------------------------------------------- */
